@charset "UTF-8";

body{
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
    font-size: 16px;
    color: white;

    background-color: black;            /* 背景色 */
    background-image: url("../img/mars_globes_wet_dry.png"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
}
.logo{
    text-align: center;
}
.logo p{
    font-family: "HGP創英角ｺﾞｼｯｸUB", "Hiragino Kaku Gothic Pro", "Meiryo";
    font-size: 1.5vw;
}
.logo img{
    width: 15vw;
}
.header{
    width: 600px;
    text-align: center;
    /*上下のマージンが0、左右がオート*/
    margin: 0 auto;
}
.header ul{
    display: flex;
}
.header ul li{
    width: 200px;
    text-align: center;
    border-right: 2px solid pink;
}
.header ul li:first-child{
    border-left: 2px solid pink;
}
.header ul li a{
    display: block;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
.header_img{
    text-align: center;
}
.header_img img{
    width: 70vw;
}
.container_movies h2{
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.container_movies{
    width: 1500px;
    margin-left: 200px;
    margin-right: 200px;
}
.ttl{
    font-weight: 500;
    text-align: center;
}
.movies_block{
    display: flex;
    justify-content: space-between;
}
.nasa_test{
    font-family: "HGP創英角ｺﾞｼｯｸUB", "Hiragino Kaku Gothic Pro", "Meiryo";
    text-align: center;
}
.nasa_link a{
    font-family: "HGP創英角ｺﾞｼｯｸUB", "Hiragino Kaku Gothic Pro", "Meiryo";
    color: red;
}
footer{
    width: 100vw;
    /* background-color: #346e84; */
    color: #fff;
    text-align: center;
    padding: 10px 0;

    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}